%div.filtered-list-editor
  %ul.pointer-list.filtered-list-review._pointer-filtered-list.list-group.vertical.p-0
    - card.item_cards(context: :raw).each do |item_card|
      %li._filtered-list-item.clearfix{ data: item_card.format.wrap_data }
        %span._handle.float-start.m-2
          = icon_tag :reorder
        - nest_item item_card do |rendered, view|
          %span{ class: "item-#{view} float-start w-75"}
            = rendered
        %span.filtered-list-item-button
          %button._filtered-list-item-delete.btn.btn-secondary.btn-sm.m-2{:type => "button"}
            = icon_tag :remove
  %br
  .clearfix
    = add_item_modal_link

