.chosen-file
  %input{ name: cached_upload_card_name, type: "hidden", value: card.selected_action_id }
  .d-flex
    = preview
    .d-flex.flex-column.justify-content-between.ml-2.w-100
      %div
        %p.name
          = card.original_filename
        %span.size
          = number_to_human_size card.attachment.size
      .align-self-end
        %button.btn.btn-danger.delete.cancel-upload{ "data-type": "DELETE" }
          = icon_tag :delete
          %span
            = preview_editor_delete_text
