.chosen-file
  %input{ name: cached_upload_card_name, type: "hidden", value: card.selected_action_id }
  %table.table.table-striped{ role: "presentation" }
    %tbody.files
      %tr.template-download.fade.show
        %td
          %span.preview
            = preview
        %td
          %p.name
            = card.original_filename
        %td
          %span.size
            = number_to_human_size card.attachment.size
        %td.float-end
          %button.btn.btn-danger.delete.cancel-upload{ "data-type": "DELETE" }
            = icon_tag :delete
            %span
              = preview_editor_delete_text
