- heading_id =  "heading-#{group_key}"
- collapse_id = "collapse-#{card.name.safe_key}-#{group_key}"
.card
  .card-header{ role: "tab", id: heading_id }
    %h5.mb-0
      = link_to (t("rules_#{group_key}") || group_key.to_s),
                href: "##{collapse_id}",
                "data-bs-toggle": "collapse",   "aria-expanded": "false",
                "data-parent": "#accordion", "aria-controls": collapse_id
.panel-collapse.collapse{ id: collapse_id,
                          role: "tabpanel",
                          "aria-labelledby": heading_id }
  .card-body
    = bar_rule_list card.visible_settings(group_key).map(&:codename)
