%div.input-group
  .input-group-prepend.handle
    %span.input-group-text
      = icon_tag :reorder
  %span.input-group-text.text-muted.group-text-left.input-nest-syntax
    = prefix
  = name_autocomplete_field
  %span.input-group-text.text-muted.group-text-middle.input-nest-syntax
    = "|"
  = options_field
  %span.input-group-text.text-muted.group-text-right.input-nest-syntax
    = postfix
  .input-group-append
    %span.input-group-text.p-0
      %button.pointer-item-delete.btn.btn-secondary{ type: "button"}
        = icon_tag :remove
  - if show_edit_button
    .input-group-append.ml-2
      %span.input-group-text.p-0.border-primary
        %button.btn.btn-primary._open-nest-editor{ type: "button"}
          = icon_tag :edit

