- if current_skin?
  %span{class: "btn btn-sm btn-outline-primary me-2 disabled"}
    Current skin
- else
  = use_as_current_button

- if card.parent?
  Inherit from:
  = link_to_card card.parent
- else
  = render_customize_button
  %div.mt-4
    = nest image_card, view: :content, size: :large
%h5.mt-4
  Skin configuration
.lead.mb-3
  from simplest to most advanced
= field_nest :colors, view: :bar, title: "Palette and uses of colors"
= field_nest :variables, view: :bar, title: "Additional SCSS variables"
= field_nest :stylesheets, view: :bar, title: "SCSS and CSS stylesheets"
