.options-container.p-2.border-bottom
  = haml_partial :options_select, template: false, level: 0, data: snippet.options
- snippet.item_options.each_with_index do |options, i|
  .options-container.p-2.border-bottom._configure-items
    %h6
      = "#{'sub' * i} items"
    = haml_partial :options_select, template: false, level: i + 1, data: options
.options-container.p-2.border-bottom._configure-items
  = button_tag "Configure #{'sub' * snippet.item_options.size}items", situation: "secondary", class: "_configure-items-button btn-sm"
  = haml_partial :options_select, template: true, level: snippet.item_options.size + 1, data: default_nest_editor_item_options


