.pointer-checkbox-list
  - card.options_hash.each do |option_label, option_name|
    - id = "pointer-checkbox-#{option_name.to_name.key}"
    - checked = card.item_names.include? option_name
    .pointer-checkbox
      = check_box_tag "pointer_checkbox-#{unique_id}", option_name, checked,
                      id: id, class: "pointer-checkbox-button #{'_submit-on-change' if submit_on_change}"
      = option_label option_label, id
