%ul.pointer-radio-list
  - options_hash = card.options_hash
  - if options_hash.empty?
    no options
  - else
    - input_name = "pointer_radio_button-#{card.key}"
    - options_hash.each do |option_label, option_name|
      - checked = option_name == card.item_name
      - id = "pointer-radio-#{option_name.to_name.key}"
      %li.pointer-radio.radio
        = radio_button_tag input_name, option_name, checked,
                           id: id, class: "pointer-radio-button"
        = option_label option_label, id
        = option_description "radio", option_name
