%ul{class: ul_classes}
  - items.each do |reference, title|
    %li.pointer-li.mb-1
      %span.input-group
        .input-group-prepend.handle
          %span.input-group-text
            = icon_tag :reorder
        %span.input-group-text.text-muted.group-text-left
          [[
        = text_field_tag "pointer_item", reference, class: "_reference pointer-item-text form-control group-text-middle",
                                               "data-options-card": options_card
        %span.input-group-text.text-muted.group-text-middle
          |
        = text_field_tag "pointer_item_title", title, class: "_title pointer-item-text form-control group-text-middle"
        %span.input-group-text.text-muted.group-text-right
          ]]
        .input-group-append
          %span.input-group-text.p-0
            %button.pointer-item-delete.btn.btn-secondary{ type: "button"}
              = icon_tag :remove
%span.input-group
  %button._pointer-item-add.btn.btn-secondary{ type: "submit" }
    = icon_tag "add"
    add another
