- bar_classes = css_classes classy("bar"), card.safe_set_keys, "with-fancy-border",
                            "justify-content-between", "double-border-fix-bottom"
.collapsed-bar.d-flex.border.nodblclick.p-0{class: bar_classes}
  - if voo.show? :bar_left
    %div{class: classy("bar-left")}
      = render :bar_left
  - if voo.show? :bar_middle
    %div{class: classy("bar-middle")}
      = render :bar_middle
  - if voo.show? :bar_right
    %div{class: classy("bar-right")}
      = render :bar_right
      - if voo.show? :bar_nav
        // TODO: move to bar_nav view
        .bar-nav.d-flex
          = render :bar_page_link
          = render :bar_expand_link
