.expanded-bar.with-fancy-border
  .bar-top.border.left-stripe.d-flex.justify-content-between.p-0
    .bar-left.p-2.d-flex.align-items-center.font-weight-bold
      = render :bar_left
    .bar-right.p-3.border-left.text-align-right
      = render :bar_right
      = render :bar_page_link
      = render :bar_collapse_link
  .bar-bottom.col-12.border.border-top-0.mb-3.pl-5.pt-2
    = render :bar_bottom
