- bar_classes = css_classes classy("bar"), card.safe_set_keys
.expanded-bar.border.with-fancy-border
  .bar-top.border.d-flex.justify-content-between.p-0{class: bar_classes}
    %div{class: classy("bar-left")}
      = render :bar_left
    %div{class: classy("bar-right")}
      = render :bar_right
      .bar-nav.d-flex
        = render :bar_page_link
        = render :bar_collapse_link
  .bar-bottom.col-12.border.border-top-0.mb-3.pl-5.pt-2
    = render :bar_bottom
