.invite-links
  - if card.creator_id == AnonymousID
    tr(:)


  headings = []
  by_anon = card.creator_id == AnonymousID
  headings << %(
    <strong>#{card.name}</strong> #{'was' unless by_anon} signed up on
    #{format_date card.created_at}
  )
  if (account = card.account)
    headings += verification_info account
  else
    headings << tr(:missing_account)
  end
  <<-HTML
    <div class="invite-links">
      #{headings.map { |h| "<div>#{h}</div>" }.join "\n"}
    </div>
    #{process_content render_raw}
  HTML
