.guide-line.rule-section.mt-4
  %h5
    .guide-line-number 1
    Define rule
    = popover_link "Help text to explain this section"
  .card-editor
    = rules_type_formgroup
    = rule_content_formgroup
.rule-section
  %h5
    .guide-line-number 2
    Apply to set
    = popover_link "Help text to explain this section"
  .card-editor
    = bridge_rule_set_selection
    = edit_rule_buttons

-##app-5
-#  %p {{ message }}
-#  %button{'v-on:click': 'reverseMessage'} Reverse Message